go-dev/branches/amigo_1_8/xml/dtd/go_def-parser-events.dtd

<!-- 

  GO_DEF PARSER EVENTS

  This is a description of the parse event stream generated by the
  go-perl parsers on any .definition file.

  Note that this stream structure is a subset of the
  obo-parser-events.dtd structure

-->

<!-- obo: (node) -->
<!ELEMENT obo (term+)+>

<!-- term: (node) -->
<!ELEMENT term (id|def)+>

<!-- id: (STRING) -->
<!ELEMENT id (#PCDATA)>

<!-- def: (node) -->
<!ELEMENT def (defstr|dbxref+|comment?|obsolete_data?)+>

<!-- defstr: (TEXT) -->
<!ELEMENT defstr (#PCDATA)>

<!-- dbxref: (node) -->
<!ELEMENT dbxref (acc|dbname)+>

<!-- acc: (STRING) -->
<!ELEMENT acc (#PCDATA)>

<!-- dbname: (STRING) -->
<!ELEMENT dbname (#PCDATA)>

<!-- comment: (TEXT) -->
<!ELEMENT comment (#PCDATA)>

<!-- obsolete_data: (node) -->
<!ELEMENT obsolete_data (reason|update_type|id*)+>

<!-- reason: (TEXT) -->
<!ELEMENT reason (#PCDATA)>

<!-- update_type: (STRING) -->
<!ELEMENT update_type (#PCDATA)>
