go-dev/branches/amigo_1_8/xml/dtd/go_ont-parser-events.dtd

<!-- 

  GO_ONT PARSER EVENTS

  This is a description of the parse event stream generated by the
  go-perl parsers on any .ontology file.

  Note that this stream structure is a subset of the
  obo-parser-events.dtd structure

-->


<!-- obo: (node) -->
<!ELEMENT obo (source|term+|typedef)+>

<!-- source: (node) -->
<!ELEMENT source (source_type|source_path|source_md5|source_mtime)+>

<!-- source_type: (STRING) -->
<!ELEMENT source_type (#PCDATA)>

<!-- source_path: (STRING) -->
<!ELEMENT source_path (#PCDATA)>

<!-- source_md5: (STRING) -->
<!ELEMENT source_md5 (#PCDATA)>

<!-- source_mtime: (INT) -->
<!ELEMENT source_mtime (#PCDATA)>

<!-- term: (node) -->
<!ELEMENT term (id|name|is_root?|namespace|relationship*|is_a*|synonym*|alt_id*|is_obsolete?|xref_analog*)+>

<!-- id: (STRING) -->
<!ELEMENT id (#PCDATA)>

<!-- name: (STRING) -->
<!ELEMENT name (#PCDATA)>

<!-- is_root: (INT) -->
<!ELEMENT is_root (#PCDATA)>

<!-- namespace: (STRING) -->
<!ELEMENT namespace (#PCDATA)>

<!-- relationship: (node) -->
<!ELEMENT relationship (type|to)+>

<!-- type: (STRING) -->
<!ELEMENT type (#PCDATA)>

<!-- to: (STRING) -->
<!ELEMENT to (#PCDATA)>

<!-- is_a: (STRING) -->
<!ELEMENT is_a (#PCDATA)>

<!-- synonym: (node) -->
<!ELEMENT synonym (synonym_text|type)+>

<!-- synonym_text: (STRING) -->
<!ELEMENT synonym_text (#PCDATA)>

<!-- alt_id: (STRING) -->
<!ELEMENT alt_id (#PCDATA)>

<!-- is_obsolete: (INT) -->
<!ELEMENT is_obsolete (#PCDATA)>

<!-- xref_analog: (node) -->
<!ELEMENT xref_analog (acc|dbname)+>

<!-- acc: (STRING) -->
<!ELEMENT acc (#PCDATA)>

<!-- dbname: (STRING) -->
<!ELEMENT dbname (#PCDATA)>

<!-- typedef: (node) -->
<!ELEMENT typedef (id|name|domain|range)+>

<!-- domain: (STRING) -->
<!ELEMENT domain (#PCDATA)>

<!-- range: (STRING) -->
<!ELEMENT range (#PCDATA)>
