go-dev/trunk/xml/dtd/go_assoc-parser-events.dtd


<!-- 

  GO ASSOC PARSER EVENTS

  This is a description of the parse event stream generated by the
  go-perl parsers on any gene_association file

  to get example xml, run the go2xml script on any association file; eg

    go2xml gene_association.fb

  The DTD below also shows the mapping between xml elements and
  the columns in the gene association file

  http://www.geneontology.org/GO.annotation.html#file

-->


<!-- assocs: [non-terminal] : ROOT NODE -->
<!ELEMENT assocs (dbset+)+>

<!-- dbset: [non-terminal] : A collection of prods, grouped by proddb -->
<!ELEMENT dbset (proddb|prod+)+>

<!-- proddb: (STRING) : Name of database from which annots are derived -->
<!-- COLUMN: 1 -->
<!ELEMENT proddb (#PCDATA)>

<!-- prod: [non-terminal] : A gene product -->
<!ELEMENT prod (prodacc|prodsymbol|prodname|prodtype|prodtaxa|secondary_prodtaxa?|assoc+|prodsyn*)+>

<!-- prodacc: (STRING) : A gene product accession (minus proddb) -->
<!-- COLUMN: 2 -->
<!ELEMENT prodacc (#PCDATA)>

<!-- prodsymbol: (STRING) :  -->
<!-- COLUMN: 3 -->
<!ELEMENT prodsymbol (#PCDATA)>

<!-- prodname: (STRING) -->
<!-- COLUMN: 10 -->
<!ELEMENT prodname (#PCDATA)>

<!-- prodtype: (STRING) -->
<!-- COLUMN: 12 -->
<!ELEMENT prodtype (#PCDATA)>

<!-- prodtaxa: (INT) -->
<!-- COLUMN: 13  (with taxon: prefix removed) -->
<!ELEMENT prodtaxa (#PCDATA)>

<!-- secondary_prodtaxa: (INT) [OPTIONAL] -->
<!-- COLUMN: 13, second after '|'  (with taxon: prefix removed) -->
<!ELEMENT prodtaxa (#PCDATA)>

<!-- assoc: [non-terminal] : The association for a product -->
<!ELEMENT assoc (assocdate|source_db|termacc|is_not|aspect|evidence+|qualifier*)+>

<!-- assocdate: (INT) -->
<!-- COLUMN: 14 -->
<!ELEMENT assocdate (#PCDATA)>

<!-- source_db: (STRING) -->
<!-- COLUMN: 15 -->
<!ELEMENT source_db (#PCDATA)>

<!-- termacc: (STRING) -->
<!-- COLUMN: 5 -->
<!ELEMENT termacc (#PCDATA)>

<!-- is_not: (INT) -->
<!-- COLUMN: 4, set to 1 if this column=~/not/i -->
<!ELEMENT is_not (#PCDATA)>

<!-- aspect: (STRING) -->
<!-- COLUMN: 9 -->
<!ELEMENT aspect (#PCDATA)>

<!-- evidence: [non-terminal] : The evidence for an association -->
<!ELEMENT evidence (evcode|ref|with?)+>

<!-- evcode: (STRING) -->
<!-- COLUMN: 7 -->
<!ELEMENT evcode (#PCDATA)>

<!-- ref: (STRING) -->
<!-- COLUMN: 6 -->
<!ELEMENT ref (#PCDATA)>

<!-- with: (STRING) -->
<!-- COLUMN: 8 -->
<!ELEMENT with (#PCDATA)>

<!-- qualifier: (STRING) -->
<!-- COLUMN: 4 -->
<!ELEMENT qualifier (#PCDATA)>

<!-- prodsyn: (STRING) -->
<!-- COLUMN: 11 -->
<!ELEMENT prodsyn (#PCDATA)>
