go-dev/trunk/xml/dtd/go_xref-parser-events.dtd

<!-- 

  GO_XREF PARSER EVENTS

  This is a description of the parse event stream generated by the
  go-perl parsers on any external2go file.

  Note that this stream structure is a subset of the
  obo-parser-events.dtd structure

-->

<!-- dbxrefs: (node) -->
<!ELEMENT dbxrefs (term+)+>

<!-- term: (node) -->
<!ELEMENT term (id|xref_analog)+>

<!-- id: (VARCHAR(31)) -->
<!ELEMENT id (#PCDATA)>

<!-- xref_analog: (node) -->
<!ELEMENT xref_analog (acc|dbname)+>

<!-- acc: (VARCHAR(31)) -->
<!ELEMENT acc (#PCDATA)>

<!-- dbname: (VARCHAR(7)) -->
<!ELEMENT dbname (#PCDATA)>
