go-dev/trunk/xml/dtd/obo-parser-events.dtd

<!-- 

  OBO PARSER EVENTS

  This is a description of the parse event stream generated by the
  go-perl parsers on any .obo ontology file.

  It also describes events generated from the following formats

    .ontology    - go_ont
    .definition  - go_def
    xref2go      - go_xref

-->

<!-- obo: (node) -->
<!-- top-level element corresponding to the whole .obo file -->
<!ELEMENT obo (source|header|term+|typedef)+>

<!-- *** FILE METADATA *** -->

<!-- source: (node) -->
<!-- metadata concerning the source input file -->
<!ELEMENT source (source_type|source_path|source_md5|source_mtime)+>

<!-- source_type: (STRING) -->
<!ELEMENT source_type (#PCDATA)>

<!-- source_path: (STRING) -->
<!ELEMENT source_path (#PCDATA)>

<!-- source_md5: (STRING) -->
<!ELEMENT source_md5 (#PCDATA)>

<!-- source_mtime: (INT) -->
<!ELEMENT source_mtime (#PCDATA)>

<!-- header: (node) -->
<!ELEMENT header (format-version|date|saved-by|auto-generated-by|default-namespace|remark|subsetdef+)+>

<!-- format-version: (FLOAT) -->
<!ELEMENT format-version (#PCDATA)>

<!-- date: (STRING) -->
<!ELEMENT date (#PCDATA)>

<!-- saved-by: (STRING) -->
<!ELEMENT saved-by (#PCDATA)>

<!-- auto-generated-by: (STRING) -->
<!ELEMENT auto-generated-by (#PCDATA)>

<!-- default-namespace: (STRING) -->
<!ELEMENT default-namespace (#PCDATA)>

<!-- remark: (STRING) -->
<!ELEMENT remark (#PCDATA)>

<!-- subsetdef: (STRING) -->
<!ELEMENT subsetdef (id|name|dbxref*)+)>

<!-- *** END OF FILE METADATA *** -->

<!-- term: (node) -->
<!ELEMENT term (id|name|namespace|def?|is_a*|alt_id*|subset*|comment?|is_obsolete?|xref_analog*|synonym*|relationship*)+>

<!-- id: (STRING) -->
<!ELEMENT id (#PCDATA)>

<!-- name: (STRING) -->
<!ELEMENT name (#PCDATA)>

<!-- namespace: (STRING) -->
<!ELEMENT namespace (#PCDATA)>

<!-- def: (node) -->
<!ELEMENT def (defstr|dbxref*)+>

<!-- defstr: (TEXT) -->
<!ELEMENT defstr (#PCDATA)>

<!-- dbxref: (node) -->
<!ELEMENT dbxref (acc|dbname)+>

<!-- acc: (STRING) -->
<!ELEMENT acc (#PCDATA)>

<!-- dbname: (STRING) -->
<!ELEMENT dbname (#PCDATA)>

<!-- is_a: (STRING) -->
<!ELEMENT is_a (#PCDATA)>

<!-- alt_id: (STRING) -->
<!ELEMENT alt_id (#PCDATA)>

<!-- subset: (STRING) -->
<!ELEMENT subset (#PCDATA)>

<!-- comment: (TEXT) -->
<!ELEMENT comment (#PCDATA)>

<!-- is_obsolete: (STRING) -->
<!ELEMENT is_obsolete (#PCDATA)>

<!-- xref_analog: (node) -->
<!ELEMENT xref_analog (acc|dbname)+>

<!-- synonym: (node) -->
<!ELEMENT synonym (synonym_text|type|dbxref*)+>

<!-- synonym_text: (TEXT) -->
<!ELEMENT synonym_text (#PCDATA)>

<!-- type: (STRING) -->
<!ELEMENT type (#PCDATA)>

<!-- relationship: (node) -->
<!ELEMENT relationship (type|to)+>

<!-- to: (STRING) -->
<!ELEMENT to (#PCDATA)>

<!-- typedef: (node) -->
<!ELEMENT typedef (id|name)+>
