go-dev/xml/dtd/go_ids-parser-events.dtd


<!-- 

  GO IDS PARSER EVENTS

  This is a description of the parse event stream generated by the
  go-perl parsers on a file just containing GO IDs separated by some
  kind of whitespace.

  To get example xml, run the go2xml script on any association file; eg

    go2xml go_ids.txt

  The DTD below also shows the mapping between xml elements and
  the GO IDs.

-->


<!-- obo: [non-terminal] : ROOT NODE -->
<!ELEMENT obo (term+)+>

<!-- term list -->
<!ELEMENT term (id)>

<!-- term id: (STRING) -->
<!ELEMENT id (#PCDATA)>
